# Mod_Autoindex
<IfModule mod_autoindex.c>
    # Запрещаем просмотр содержимого папок
    Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    # Включаем mod_rewrite
    RewriteEngine On
    #IndexIgnore */*

    RewriteCond %{HTTP_HOST} ^www\.(.*)$
    RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

    # Перенаправляем admin на входной скрипт админки
    RewriteCond %{REQUEST_URI} ^/admin
    RewriteRule ^admin(/.+)?$ /backend/web/$1 [L,PT]

    # Перенаправляем api на входной скрипт api
    RewriteCond %{REQUEST_URI} ^/api
    RewriteRule ^api(/.+)?$ /api/web/$1 [L,PT]


    RewriteCond %{REQUEST_URI} ^.*$
    RewriteRule ^(.*)$ /frontend/web/$1
</IfModule>









